@import url('../node_modules/normalize-css/normalize.css');
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

// google font
@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Outline|Ubuntu:400,400i,700');

// globals
body {
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee', cursive;
}

p, li, a {
  font-size: 16px;
}
