// base color scheme
$prim: #225378;
$prim-l1: #1695A3;
$prim-l2: #ACF0F2;
$white: #F3F3F3;
$accent: #EB7F00;

// variation colors
$accent-l1: lighten($accent, 5%);
$accent-l2: lighten($accent, 10%);
$accent-l3: lighten($accent, 20%);
$accent-d1: darken($accent, 5%);
$accent-d2: darken($accent, 10%);
$accent-d3: darken($accent, 20%);
